{% extends "layout.html" %}

{% block title %}
    Flight Details
{% endblock %}

{% block body %}
    <h1> Flight Details </h1>

    <ul>
        {% for item in flights %}
            <li>
                <a href="{{ url_for('flight', flight_id=item.id) }}">
                    {{ item.origin }} to {{ item.destination }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('index') }}">
        <div class=form-group">
                <button class="btn btn-secondary">Back</button>
        </div>
    </form>
{% endblock %}